
<form class="ms-5 me-5 mt-5">
  <!-- Text input -->
  <mdb-form-control class="mb-4">
    <input mdbInput type="text" id="form6Example3" class="form-control" />
    <label mdbLabel class="form-label" for="form6Example3">Company name</label>
  </mdb-form-control>
  <p-editor class="mb-5" [style]="{ height: '320px' }">
  </p-editor>
  <!-- Submit button -->
  <button (click)="UserPostOrEdit()" class="" mdbRipple type="button" class="btn btn-primary btn-block mb-4">
    Place order
  </button>
  <button
  pButton
  pRipple
  label="Submit"
  class="p-button-success">
</button>
</form>
