<div class="container my-5">
    <mdb-form-control>
        <label mdbLabel class="form-label" for="form1">Title</label>
        <input mdbInput type="text" id="form1" class="form-control" />
      </mdb-form-control>
    <mdb-form-control>
        <label mdbLabel class="form-label" for="textAreaExample">Message</label>
        <textarea mdbInput class="form-control" id="textAreaExample" rows="4"></textarea>
      </mdb-form-control>
      <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
</div>