
<div class="container my-5">
  <div class="row mb-5">
    <div class="col-md-5">
      <div class="bg-image hover-overlay shadow-1-strong rounded" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" alt="Louvre" />
        <a href="#!">
          <div class="mask" style="background-color: hsla(0, 0%, 98%, 0.2)"></div>
        </a>
      </div>
    </div>
    <div class="col-md-7">
      <h1 class="mb-3">Web site heading</h1>
      <P>{{data | json}}</P>
      <button type="button" class="btn btn-primary me-2" data-mdb-ripple-init>Button</button>
      <button type="button" class="btn btn-outline-primary"><i class="fas fa-search-plus me-2"></i>See more</button>
    </div>
  </div>
  <div class="row">
    <!-- <div *ngIf="data">
      <ul>
        <li *ngFor="let d of data" style="list-style-type: none">
          <div class="card">
            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{d.postTitle}}</h5>
              <p class="card-text">{{d.postTime}}</p>
              <p class="card-text">{{d.postContent}}</p>
              <p class="card-text">{{d.participants}}</p>
              <p class="card-text">{{d.postId}}</p>
              <a href="#!" class="btn btn-primary" data-mdb-ripple-init [routerLink]="['postview/',d.postId]">Button</a>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile style="background: red" colspan="2">
        Tile 1(橫幅廣告)
      </mat-grid-tile>
      <mat-grid-tile style="background: green" rowspan="22">
        Tile 2(右邊清單資訊)
      </mat-grid-tile>

      <mat-grid-tile rowspan="2" style="background: blue">
        置頂文章1
      </mat-grid-tile>
      <mat-grid-tile rowspan="2"  style="background: blue">
        置頂文章2
      </mat-grid-tile>

      <mat-grid-tile *ngFor="let post of data" rowspan="6">
        <!-- {{ post.title }} -->
        <div class="card">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.postTitle}}</h5>
            <p class="card-text">{{post.postTime}}</p>
            <p class="card-text">{{post.postContent}}</p>
            <p class="card-text">{{post.participants}}</p>
            <p class="card-text">{{post.postId}}</p>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init [routerLink]="['postview/',post.postId]">Button</a>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: yellow" colspan="2">
        Tile 4(下方橫幅廣告)
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
